<?xml version="1.0"?>
<launch>


	<!-- <include file="$(find kari_complement)/launch/imu_complement.launch"/> -->

	<node name="intensity_match" pkg="itst_desc" type="intensity_match" output="screen" >
		<remap from="/lcl_imu" to="/odometer" />
		<!-- <remap from="/lcl_imu" to="/integrated_to_init/kari" /> -->
	</node>
	
</launch>

